/* css/back-to-top.css */
.back-to-top {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000; /* Ensure it's above other content */
}

.back-to-top:hover {
    opacity: 1;
}

.back-to-top img {
    width: 60%;
    height: 60%;
    vertical-align: middle;
}